Python data type
1. Standard data type
  numbers (integer, float )
  boolean
  complex
2. Structured data type
   list 
   tuple 
   set 
   Dictionary

In [ ]:

int1= 1976
print(int1)
print(type(int1))

In [ ]:
flt1= 3.234
print(flt1)
print(type(flt1))

In [ ]:
complx1= 2+3j
print(complex)
print(type(complex))

In [ ]:
boul1= True
print(boul1)
print(type(boul1))

In [ ]:
str1 = 'Python programming'
print(str1)
print(type(str1))

In [ ]:
str2 ='''python programing'''
print(str2)
print(type(str2))

In [ ]:
str3 = "My name is" 'John'
print(str3)
print(type(str3))

In [ ]:
# 1.List is mutable 

lst = [12,13,14,15]

print(lst)

In [ ]:
# Tupple is immutable 
tup1= (2,4,6,7,8,9)
print(tup1)

In [ ]:
# Set
#1. Set is combination of unique values 
#2. Set is collection of unordered element 
#3. Set is representated by curly brackets
#4. Set is mutable 

set1= {1,2,3,'a','b','c','@',('a','b+5j','c'),'a',True,'b',2.11,"Art",False}
print(set1)
print(type(set1))

In [ ]:
#Dictionary
dict1= {'a':'App;e', 
        'b':'Banana', 
        'c': 'Cherrries'}

print(dict1)
print(type(dict1))

In [ ]:
str5 = 'GOVINDA POUDEL'
print(len(str5))

In [ ]:

print(str5[0])
print(str5[1])
print(str5[2])
print(str5[3])
print(str5[4])
print(str5[5])
print(str5[6])
print(str5[7])
print(str5[8])
print(str5[9])
print(str5[10])
print(str5[11])
print(str5[12])
print(str5[13])

In [ ]:
print(str5[0:7:1]), print(str5[8:])

In [ ]:
str5[0:7:1]

In [ ]:
str4 = "I love python" " " 'it is fun to run python'
print(str4)
print(str4[::])
print(str4[14::])
print(str4[:13:])
str4[:len(str4):]

In [ ]:
#string in-buit function 
# string splicing [start:stop:step]
temp_str = "Hello Word"

print(temp_str[::2])

In [ ]:
dir(temp_str)

#dir is used in development and operations

In [ ]:
# Takes 1st charater of string to upper case 
print(temp_str.capitalize())

# capitalizes everything
print(temp_str.upper())

#capitalizes first letter of each word
print(temp_str.title())

In [ ]:
temp_str = "HeLLo WOrLD"

# returns a string whrere all characters are lowercase 
print(temp_str.casefold())

In [ ]:
# adds space or charecter specified to either side of the string to keep it in the center 
print(temp_str.center(15, "*"))
print(temp_str.center(16, "*"))

In [ ]:
#returns ho many times the substring appears in the given range by default picks full string 
# count function is case sensetive 
print(temp_str.count("Hello"))
print(temp_str.count("HeLLo"))

In [ ]:
# count(value, start, end) 
temp_str3 = "hello world how is it going? hello all good"
print(temp_str3.count('hello',))
print(temp_str3.count('hello',2))

In [ ]:
# returns True or False on the basis of Suffix passed.
temp_str4 = "hello world how is it going? hello all good"
print(temp_str4.endswith("good"))
print(temp_str4.endswith("good!"))

In [ ]:
# endswith (value, start, stop) stop is the length not index position
print(temp_str4.endswith("o", 0, 5))
print(temp_str4.endswith("goo", 0, 5))
print(temp_str4.endswith("goo", 0, len(temp_str4)-1))
print(temp_str4.endswith("good", 0, len(temp_str4)))

In [ ]:
#returns lowest index of the substreing if found else returns -1
temp_str = "hello world how is it going? hello all good! how are you?"
print(temp_str.find("how"))
print(temp_str.find("is"))

In [ ]:
temp_str = "Hello my name is {fname}, I am a {position}!"
print(temp_str.format(fname="Govinda", position='ML Engineer'))

In [ ]:
temp_str = "Hello my name is {0}, I am a {1}!"
temp_str.format("Govinda",'ML Engineer')

temp_str.index('Hello')
temp_str.index('is')

In [ ]:
temp_str.isalnum()

In [ ]:
temp_str.isalpha()

## Slicing and splicing

## String[start (index):stop (index-1):step], stop is the length not index position

In [ ]:
str1= 'Pappa Peg Prefer Python Programing'
print(str1)

In [ ]:
str1[0:5], str1[6:9], str1[10:16], str1[17:23], str1[24:]

In [ ]:
str1[4::-1], str1[8:5:-1], str1[15:9:-1], str1[22:16:-1], str1[:23:-1]

In [ ]:
str1[-34:-29], str1[-24:-18], str1[-17:-11:], str1[-11::]

In [ ]:
lst1= ['apple', 'orange', "fig", "cherrie", 'grapes']
print(lst1)

In [ ]:
print(lst1[:])
print(lst1[:3])
print(lst1[::-1])
print(lst1[2:])
print(lst1[2::-1])
print(lst1[2::])
print(lst1[-1::-1])
print(lst1[4::-1])
print(lst1[:len(str1)])
print(lst1[:5])

In [ ]:
lst2=['dog', 1, 'cat', 'horse', 'sheep', 'goat', 12, 'monkey']
print(lst2[0:5:1]) # positive indexing positive slicing 
print(lst2[7::-1]) # positive indexing negative slicing 
print(lst2[-7::])  # negative indexing positive slicing 
print(lst2[-1:-6:-1]) # negative indexing negative slicing

In [ ]:
# Try it with tupple
tupl1=(1, 2, 'apple', 'pear', 22, 17)
print(tupl1)
print(tupl1[0:4])
print(tupl1[::-1])
print(tupl1[-1::-1])
print(tupl1[-1:-6:-1])

In [ ]:
# converting list to tuple
tupl2 = tuple(lst2)
print(tupl2)

In [ ]:
print(tupl2[0:5:1]) # positive indexing positive slicing 
print(tupl2[7::-1]) # positive indexing negative slicing 
print(tupl2[-7::])  # negative indexing positive slicing 
print(tupl2[-1:-6:-1]) # negative indexing negative slicing

In [ ]:
# returns true if only numbers between 0-9 else returns false 
temp_str = '\u00B2'
print('km\u00B2')
print(temp_str.isdecimal())
print(temp_str.isdigit())

In [ ]:
#Join function, iterables are list, tuple, dictionary, set 
list_temp= ['Hello', 'World', 'How', 'Are', 'You']
print('!'.join(list_temp))
print(' '.join(list_temp))
print('5'.join(list_temp))

In [ ]:
temp_str= 'Hello World'
print(temp_str.lower())     #lower()
print(temp_str.casefold())  #casefold()
print(temp_str.upper())

In [ ]:
temp_str= "     Hello World     "
print(temp_str.lstrip())
print(temp_str.rstrip())
print(temp_str.strip())

In [ ]:
temp_str = " I could eat apples all day"
print(temp_str.partition("apples"))
print(temp_str.partition("apples1"))

In [ ]:
temp_str = "I could eat apples all day, all of them has to be delicious"
print(temp_str.replace('all', 'some'))
print(temp_str.replace('all', 'none').replace('apples', 'Pizza'))

In [ ]:
print(temp_str.split())
print(temp_str.split(','))
print(temp_str.split('all'))
print(temp_str.split('all'), temp_str.split('has'))

In [ ]:
# Dictionary
temp_str= {83:80, 83:70} # only keeps the latest value pair)
print(temp_str)

In [ ]:
temp_str={'brand':'Toyota', 'Model':'Camry', 'year':2015, 'year':2020}
print(temp_str)
print(temp_str['brand'])
print(temp_str['brand'], temp_str['Model'])

## Basic Python Operators

In [ ]:
#arithmetic operators 
a= 105
b= 20

print(a+b)
print(a-b)
print(a/b)
print(a%b) #modulous or remainder after devision
print(a//b) #quotient 
print(a**b) # exponential

In [ ]:
#comparision operators
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a<=b)
print(a>=b)

In [ ]:
#Asociate operators 

# a= a+b =>a+=b

a+=b
print(a, b)
a-=b
print(a, b)
a/=b
print(a, b)

a//=b
print(a, b)

a%=b
print(a, b)

## Python Logical Operators

In [ ]:
# In case of and operators both condition has to be true for or operaters only one condition has to be true

a=10
b=30

print( a>10 and b>20)
print (a>10 or b>20 )

## Membership operators

In [ ]:
a= 100
b = [100, 200, 300, 400,500]

a in b

In [ ]:
a not in b

In [ ]:
a=600
b = [100, 200, 300, 400, 500]

a not in b

## Identitiy Operators

In [ ]:
a=2
b=4

a is not b
a is b

## IF statement

In [ ]:
a = 200
b = 30
if a<b: 
    print( 'a is geater than b')
else:
    print('a is less than b')

In [ ]:
if (a>b) or (a>b):      # for 'or' either condition  has to be true to execute downstream codes
    print('Hello World!')

In [ ]:
def new_func():
    if (a>b) or (a==b):
        print('Hello World!')

new_func()

In [ ]:
if (a>b) or (a!=b):
    print('Hello World!')

In [ ]:
if (a>b) and (a==b):   #for 'and' both condition have to be true to execute downstream code
    print('Hello World!')

In [ ]:
if (a>b) and (a!=b):
    print('Hello World!')

In [1]:
percentage = float(input("Enter your percentage: "))

if percentage >= 80:
        print("Higher Distinction")
elif 75 <= percentage < 80:
        print("Distinction")
elif 60 <= percentage < 75:
        print("First Division")
elif 32 <= percentage < 60:
        print("Pass")
else:
        print("Fail")

Distinction

In [2]:
# check if a number is divisible by 7 or not

num= int(input('Enter the number to evaluate:'))

if num%7 ==0:
    print(num, 'is divisible by 7')

else:
    print (num, 'is not divisible by 7')

22 is not divisible by 7

In [4]:
# Write a program to print hello if number is multiple of five or 3 else print bye
num= int(input('Enter the number to evaluate:'))
if num%3==0 or num%5==0:
    print(num, 'is divisible by 3 or 7')
else:
    print(num, 'is not divisible either by 3 or 7')

21 is divisible by 3 or 7

In [8]:
#Write a python program that will check for the following conditions:

#If the light is green – Car is allowe
#If the light is red – Car has to stop
#Other signal – unrecognized signal. Example black, blue, etc…

sign= input("What color is the light? ").lower()

if sign == 'red':
    print('Car needs to stop')
elif sign == 'yellow':
    print('Car needs to slow down')
elif sign == 'Green':
    print('Car can go')
else:
    print('invalid light color')

invalid light color

In [ ]:
"""
Write a program to trace your subject mark. Your program should fulfill the following conditions:

If the subject mark is below 0 and above 100, print “error: mark should be between 0 and 100 only”
Students will fail in the subject if their mark is below 50.
Students will pass in the subject if they score 50 and above.
If subject mark is between 50 and 60, grade student as good.
If subject mark is between 60 and 80, grade student as very good.
If subject mark is between 80 and 100, grade student as outstanding.

Make sure to print their mark in every statement to prove that the condition is fulfilled. Moreover, name, class, and section should be also displayed along with the marks.
"""

In [15]:
name= input('Please enter your name: ').title()
mark = float(input('Please enter you final mark: '))

if mark<0 or mark>100:
    print('Error! mark should be between 0 and 100 only')
elif mark<50:   
    print( name, 'you have failed this topic')
elif mark>=50:   
    print( name, 'you have passed this topic')
if mark>50 and mark<60:
    print('You did good in this topic')
if mark>60 and mark<80:
    print('You did very good in this topic')
if mark>80 and mark<100:
    print('You did excellent in this topic')

Gg you have passed this topic
You did very good in this topic

In [18]:
#Q1 A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years.
#Ask user for their salary and year of service and print the net bonus amount."""

salary = float(input('Please enter you salary: '))
service = int(input("Please enter the number of year of your service: "))

if service >=5:
    print('Your net bonus amount is:', salary*0.05)
else:
    print('You need to have more than 5 years of service for bonus')

Your net bonus amount is: 6000.0

In [2]:
#2.Take values of length and breadth of a rectangle from user and check if it is square or not.

length = float(input("Length"))
breadth = float(input("Breadth"))

if length==breadth:
    print('Its a square')
else:
    print('Its not a square')

Its not a square

In [3]:
#3 Take two int values from user and print greatest among them.

int1= int(input('Please enter first integer value:'))

int2= int(input('Please enter second integer value:'))

if int1>int2:
    print('Greater number is', str(int1))
elif int2>int1:
    print('Greater number is', str(int2))
else:
    print('Both are equal')

Greater number is 33

In [13]:
#A shop will give discount of 10% if the cost of purchased quantity is more than $1000.
#Ask user for quantity
#Suppose, one unit will cost 100.
#Judge and print total cost for user.

quantity = int(input('Enter the quantity:'))

total = quantity*100
discount = total*0.10

if total> 1000:
    print('Total cost is:', total- (discount))
else:
    print('Total cost is:', (total))

Total cost is: 500

In [18]:
""" Q5. A school has following rules for grading system:
a. Below 25 - F
b. 25 to 45 - E
c. 45 to 50 - D
d. 50 to 60 - C
e. 60 to 80 - B
f. Above 80 - A
Ask user to enter marks and print the corresponding grade."""

mark = float(input('Please enter your mark:'))

if mark<25:
    print('Your grade is F')

elif 45>mark>=25:
    print('Your grade is E')

elif 50>mark>=45:
    print('Your grade is D')

elif 60>mark>=50:
    print('Your grade is C')

elif 80>mark>=60:
    print('Your grade is B')

elif mark>=80:
    print('Your grade is A')

Your grade is E

In [22]:
#6.Take input of age of 3 people by user and determine oldest and youngest among them.
#approach using what has been taught so far

prs1 = int(input('Enter person-1 age: '))
prs2 = int(input('Enter person-2 age: '))
prs3 = int(input('Enter person-3 age: '))

# Finding the oldest
if prs1 > prs2 and prs1 > prs3:
    print('Person 1 is oldest')
elif prs2 > prs1 and prs2 > prs3:
    print('Person 2 is oldest')
elif prs3 > prs1 and prs3 > prs2:
    print('Person 3 is oldest')
else:
    print('There is a tie for the oldest.')

# Finding the youngest
if prs1 < prs2 and prs1 < prs3:
    print('Person 1 is youngest')
elif prs2 < prs1 and prs2 < prs3:
    print('Person 2 is youngest')
elif prs3 < prs1 and prs3 < prs2:
    print('Person 3 is youngest')
else:
    print('There is a tie for the youngest.')

Person 3 is oldest
Person 1 is youngest

In [6]:
#7. Write a program to print absolute vlaue of a number entered by user. E.g.-
# INPUT: 1        OUTPUT: 1
# INPUT: -1        OUTPUT: 1

num1= int(input('Please, enter a number: '))

if num1<0:
    print(num1*(-1))
else:
    print(num1)

300

In [9]:
# A student will not be allowed to sit in exam if his/her attendence is less than 75%.
# Take following input from user
# Number of classes held
# Number of classes attended.And print
#percentage of class attended
#Is student is allowed to sit in exam or not.

classheld= int(input ('Number of classes held: '))
classattended= int(input('Number of classes attended: '))
percentage= float((classattended/classheld)*100)
print(round(percentage, 1))

if percentage<75:
    print("Sorry, your attendence is poor. You are not allowed to sit the exam")
else:
    print('Your attendence is sufficient to sit the exam')

90.0
You can attend the class as usual

In [15]:
#9.Modify the above question to allow student to sit if he/she has medical cause.
#Ask user if he/she has medical cause or not ( 'Y' or 'N' ) and print accordingly.

classheld= int(input ('Number of classes held: '))
classattended= int(input('Number of classes attended: '))
percentage= float((classattended/classheld)*100)
print(round(percentage, 1))


if percentage<75:
    reason= input('Do you have an eligible medical condition? Answer: Y for yes or N for no').upper()
    if reason == 'Y':
         print('You are still allowed to attend the exam')
    else:
        print("Sorry, your attendence is poor. You are not allowed to sit the exam")
else:
    print('Your attendence is sufficient to sit the exam')

90.0
Your attendence is sufficient to sit the exam

### WHILE LOOP

In [3]:
a= 100

while a >10:
    print(a,'is greater than 10' )
    a-=1

100 is greater than 10
99 is greater than 10
98 is greater than 10
97 is greater than 10
96 is greater than 10
95 is greater than 10
94 is greater than 10
93 is greater than 10
92 is greater than 10
91 is greater than 10
90 is greater than 10
89 is greater than 10
88 is greater than 10
87 is greater than 10
86 is greater than 10
85 is greater than 10
84 is greater than 10
83 is greater than 10
82 is greater than 10
81 is greater than 10
80 is greater than 10
79 is greater than 10
78 is greater than 10
77 is greater than 10
76 is greater than 10
75 is greater than 10
74 is greater than 10
73 is greater than 10
72 is greater than 10
71 is greater than 10
70 is greater than 10
69 is greater than 10
68 is greater than 10
67 is greater than 10
66 is greater than 10
65 is greater than 10
64 is greater than 10
63 is greater than 10
62 is greater than 10
61 is greater than 10
60 is greater than 10
59 is greater than 10
58 is greater than 10
57 is greater than 10
56 is greater than 10
55 is greater than 10
54 is greater than 10
53 is greater than 10
52 is greater than 10
51 is greater than 10
50 is greater than 10
49 is greater than 10
48 is greater than 10
47 is greater than 10
46 is greater than 10
45 is greater than 10
44 is greater than 10
43 is greater than 10
42 is greater than 10
41 is greater than 10
40 is greater than 10
39 is greater than 10
38 is greater than 10
37 is greater than 10
36 is greater than 10
35 is greater than 10
34 is greater than 10
33 is greater than 10
32 is greater than 10
31 is greater than 10
30 is greater than 10
29 is greater than 10
28 is greater than 10
27 is greater than 10
26 is greater than 10
25 is greater than 10
24 is greater than 10
23 is greater than 10
22 is greater than 10
21 is greater than 10
20 is greater than 10
19 is greater than 10
18 is greater than 10
17 is greater than 10
16 is greater than 10
15 is greater than 10
14 is greater than 10
13 is greater than 10
12 is greater than 10
11 is greater than 10

In [8]:
a= 10

while a<100:
    print(a,'is less than 100')
    a+=10

10 is less than 100
20 is less than 100
30 is less than 100
40 is less than 100
50 is less than 100
60 is less than 100
70 is less than 100
80 is less than 100
90 is less than 100

In [9]:
a=20

while  a<500:
    print(a, 'is greater than 20')
    a+=10

20 is greater than 20
30 is greater than 20
40 is greater than 20
50 is greater than 20
60 is greater than 20
70 is greater than 20
80 is greater than 20
90 is greater than 20
100 is greater than 20
110 is greater than 20
120 is greater than 20
130 is greater than 20
140 is greater than 20
150 is greater than 20
160 is greater than 20
170 is greater than 20
180 is greater than 20
190 is greater than 20
200 is greater than 20
210 is greater than 20
220 is greater than 20
230 is greater than 20
240 is greater than 20
250 is greater than 20
260 is greater than 20
270 is greater than 20
280 is greater than 20
290 is greater than 20
300 is greater than 20
310 is greater than 20
320 is greater than 20
330 is greater than 20
340 is greater than 20
350 is greater than 20
360 is greater than 20
370 is greater than 20
380 is greater than 20
390 is greater than 20
400 is greater than 20
410 is greater than 20
420 is greater than 20
430 is greater than 20
440 is greater than 20
450 is greater than 20
460 is greater than 20
470 is greater than 20
480 is greater than 20
490 is greater than 20

In [11]:
a = 200

while a >10:
    print( a, 'is greater than 10')
    a -=10

200 is greater than 10
190 is greater than 10
180 is greater than 10
170 is greater than 10
160 is greater than 10
150 is greater than 10
140 is greater than 10
130 is greater than 10
120 is greater than 10
110 is greater than 10
100 is greater than 10
90 is greater than 10
80 is greater than 10
70 is greater than 10
60 is greater than 10
50 is greater than 10
40 is greater than 10
30 is greater than 10
20 is greater than 10

In [ ]:
a = 200

while a >10:
    if a ==50:
        break
    print( a, 'is greater than 10')
    a -=10

200 is greater than 10
190 is greater than 10
180 is greater than 10
170 is greater than 10
160 is greater than 10
150 is greater than 10
140 is greater than 10
130 is greater than 10
120 is greater than 10
110 is greater than 10
100 is greater than 10
90 is greater than 10
80 is greater than 10
70 is greater than 10
60 is greater than 10

In [18]:
a = 200

while a >10:
    a -=10
    if a==50:
        continue
    print( a, 'is greater than 10')

190 is greater than 10
180 is greater than 10
170 is greater than 10
160 is greater than 10
150 is greater than 10
140 is greater than 10
130 is greater than 10
120 is greater than 10
110 is greater than 10
100 is greater than 10
90 is greater than 10
80 is greater than 10
70 is greater than 10
60 is greater than 10
40 is greater than 10
30 is greater than 10
20 is greater than 10
10 is greater than 10

In [5]:
# wtrite a program 0 to 100 and find odd and even numbers; use while loop

a=0

while a<100:
    if a%2==0:
        print(a,'is even number')
    else:
        print(a, 'is odd number')
    a+=1

0 is even number
1 is odd number
2 is even number
3 is odd number
4 is even number
5 is odd number
6 is even number
7 is odd number
8 is even number
9 is odd number
10 is even number
11 is odd number
12 is even number
13 is odd number
14 is even number
15 is odd number
16 is even number
17 is odd number
18 is even number
19 is odd number
20 is even number
21 is odd number
22 is even number
23 is odd number
24 is even number
25 is odd number
26 is even number
27 is odd number
28 is even number
29 is odd number
30 is even number
31 is odd number
32 is even number
33 is odd number
34 is even number
35 is odd number
36 is even number
37 is odd number
38 is even number
39 is odd number
40 is even number
41 is odd number
42 is even number
43 is odd number
44 is even number
45 is odd number
46 is even number
47 is odd number
48 is even number
49 is odd number
50 is even number
51 is odd number
52 is even number
53 is odd number
54 is even number
55 is odd number
56 is even number
57 is odd number
58 is even number
59 is odd number
60 is even number
61 is odd number
62 is even number
63 is odd number
64 is even number
65 is odd number
66 is even number
67 is odd number
68 is even number
69 is odd number
70 is even number
71 is odd number
72 is even number
73 is odd number
74 is even number
75 is odd number
76 is even number
77 is odd number
78 is even number
79 is odd number
80 is even number
81 is odd number
82 is even number
83 is odd number
84 is even number
85 is odd number
86 is even number
87 is odd number
88 is even number
89 is odd number
90 is even number
91 is odd number
92 is even number
93 is odd number
94 is even number
95 is odd number
96 is even number
97 is odd number
98 is even number
99 is odd number

In [10]:
# write a program that takes values and give sum until used input 0 

total=0

num = int(input('Enter a number '))

while num !=0:
    total += num
    num = int(input('Enter a number '))
print(total)

41

In [12]:
# write a programm that counts number of people equal to or over 18 using while loop 
count = 0
age = int(input('Please enter your age '))

while age >=18:
    count+=1
    age = int(input('Please enter your age '))
print('There are', count, 'eligible voters')

There are 5 eligible voters

In [16]:
# write a program that delete elements from a list until the list is empty by using while loop and pop() fuction

lst1 = [1,3,4,5,6,8,12,6,8,9,55,76,89,90]

while lst1 > []:
    lst1==lst1.pop()
    print(lst1)

[1, 3, 4, 5, 6, 8, 12, 6, 8, 9, 55, 76, 89]
[1, 3, 4, 5, 6, 8, 12, 6, 8, 9, 55, 76]
[1, 3, 4, 5, 6, 8, 12, 6, 8, 9, 55]
[1, 3, 4, 5, 6, 8, 12, 6, 8, 9]
[1, 3, 4, 5, 6, 8, 12, 6, 8]
[1, 3, 4, 5, 6, 8, 12, 6]
[1, 3, 4, 5, 6, 8, 12]
[1, 3, 4, 5, 6, 8]
[1, 3, 4, 5, 6]
[1, 3, 4, 5]
[1, 3, 4]
[1, 3]
[1]
[]

In [21]:
# write a program where a number is divisible by 5 and 7 

num = int(input('Enter a number '))

while (num%5==0) and (num%7==0):
    print(num, 'is divisible by 5 and 7')
    break
else:
    print(num, 'is not divisible by 5 and 7')

25 is not divisible by 5 and 7

### FOR LOOP

In [22]:
lst1 = [1,3,4,5,6,8,12,6,8,9,55,76,89,90]

for i in lst1:
    print('value of i', i)

value of i 1
value of i 3
value of i 4
value of i 5
value of i 6
value of i 8
value of i 12
value of i 6
value of i 8
value of i 9
value of i 55
value of i 76
value of i 89
value of i 90

In [23]:
tup1 = ('apple', 'pears', 'cherries', 'grapefruit')

for i in tup1:
    print('value of i', i)

value of i apple
value of i pears
value of i cherries
value of i grapefruit

In [24]:
set1= {'apple', 'pears', 'cherries', 'grapefruit',1,3,4,5,6,8,12,6,8,9,55,76,89,90}

for i in set1:
    print('value of i', i)

value of i 1
value of i 3
value of i 4
value of i 5
value of i 6
value of i 8
value of i 9
value of i 12
value of i 76
value of i pears
value of i 89
value of i 90
value of i apple
value of i cherries
value of i 55
value of i grapefruit

In [25]:
str1 = 'Peppa prefer python programming'

for i in str1:
    print('value of i', i)

value of i P
value of i e
value of i p
value of i p
value of i a
value of i
value of i p
value of i r
value of i e
value of i f
value of i e
value of i r
value of i
value of i p
value of i y
value of i t
value of i h
value of i o
value of i n
value of i
value of i p
value of i r
value of i o
value of i g
value of i r
value of i a
value of i m
value of i m
value of i i
value of i n
value of i g

In [1]:
for i in range (10):
    print('value of i', i)

value of i 0
value of i 1
value of i 2
value of i 3
value of i 4
value of i 5
value of i 6
value of i 7
value of i 8
value of i 9

In [2]:
for i in range (0,10):
    print('value of i', i)

value of i 0
value of i 1
value of i 2
value of i 3
value of i 4
value of i 5
value of i 6
value of i 7
value of i 8
value of i 9

In [3]:
for i in range (0,10,2):       # start, stop, skip
    print('value of i',i)

value of i 0
value of i 2
value of i 4
value of i 6
value of i 8

In [6]:
for i in range(10):
    for j in range(10):
        print('*', end= "  ")
    print('\r')

*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *

In [16]:
# write numbers instead of '*'

k=0

for i in range (10):
    for j in range (10):
        print(k, end = '  ')
        k+=1
    print('\r')

0  1  2  3  4  5  6  7  8  9
10  11  12  13  14  15  16  17  18  19
20  21  22  23  24  25  26  27  28  29
30  31  32  33  34  35  36  37  38  39
40  41  42  43  44  45  46  47  48  49
50  51  52  53  54  55  56  57  58  59
60  61  62  63  64  65  66  67  68  69
70  71  72  73  74  75  76  77  78  79
80  81  82  83  84  85  86  87  88  89
90  91  92  93  94  95  96  97  98  99

In [19]:
# Print a pyramid of '*'
for i in range(10):
    for j in range(0, 10-i):
        print(' ', end = '')
    for k in range(0, i+1):
        print('*', end =' ')
    print('\r')

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *

In [23]:
# print an inverted pyramid of '*'

for i in range (10):
    for j in range(0, i+1):
        print(' ', end = '')
    for k in range(0, 10-i):
        print("*", end = ' ')
    print('\r')

 * * * * * * * * * *
  * * * * * * * * *
   * * * * * * * *
    * * * * * * *
     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *

In [82]:
# print two pyramids facing opposite

for i in range (10):
    for j in range (0, i+1):
        print(" ", end= '')
    for k in range (0, 10-i):
        print( "*", end=" ")
    print('\r')
    
for i in range (1,10): 
    for j in range (0, 10-i):
        print(" ", end= '')
    for k in range (0, i+1):
        print( "*", end=" ")
    print('\r')

 * * * * * * * * * *
  * * * * * * * * *
   * * * * * * * *
    * * * * * * *
     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *

In [84]:
## print a diamond with two pyramids facing each other
    
for i in range (10): 
    for j in range (0, 10-i):
        print(" ", end= '')
    for k in range (0, i+1):
        print( "*", end=" ")
    print('\r')

for i in range (10):
    for j in range (0, i+1):
        print(" ", end= '')
    for k in range (0, 10-i):
        print( "*", end=" ")
    print('\r')

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *
 * * * * * * * * * *
  * * * * * * * * *
   * * * * * * * *
    * * * * * * *
     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *

In [91]:
# Draw a hollow rectangle 

for i in range (10):
    for j in range (10):
        if i==0 or i == 10-1 or j==0 or j== 10-1:
            print('*', end= ' ')
        else:
            print(" ", end= " ")
    print()

* * * * * * * * * *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
* * * * * * * * * *

In [27]:
for i in range (10):
    for j in range (0, 10-i):
        print('-', end = "")
    for j in range (0, i+1):
        print('*', end= ' ')
    print('\r')

----------*
---------* *
--------* * *
-------* * * *
------* * * * *
-----* * * * * *
----* * * * * * *
---* * * * * * * *
--* * * * * * * * *
-* * * * * * * * * *

In [25]:
for i in range (10):
    for j in range (0, i+1):
        print('-', end = "")
    for k in range (0, 10-i):
        print("*", end= ' ')
    print('\r')

-* * * * * * * * * *
--* * * * * * * * *
---* * * * * * * *
----* * * * * * *
-----* * * * * *
------* * * * *
-------* * * *
--------* * *
---------* *
----------*

In [41]:
for i in range (10):
    for j in range (10):
        if i==0 or i==9 or j==0 or j==9:
            print('*', end= " ")
        else:
            print( " ", end= " ")
    print()

* * * * * * * * * *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
* * * * * * * * * *

In [46]:
for i in range (10):
    for j in range (10):
        if i==0 or i==j or j==9:
            print('*', end= " ")
        else:
            print(' ', end= " " )
    print()

* * * * * * * * * *
  *               *
    *             *
      *           *
        *         *
          *       *
            *     *
              *   *
                * *
                  *

In [55]:
for i in range (10):
    for j in range (10-i):
        print(" ", end= " ")
    for j in range (2 * i+1):
        if j==0 or j==i*2 or i==10-1:
            print('*', end= " ")
        else:
            print(" ", end= " ")
    print()

                    *
                  *   *
                *       *
              *           *
            *               *
          *                   *
        *                       *
      *                           *
    *                               *
  * * * * * * * * * * * * * * * * * * *

In [65]:
# febonacci series 

# 0, 1, 1, 2, 3, 5, 8, 13, 21..

n= int(input(" Enter the number of febonacci numbers you would like to see from 0: "))

a , b = 0, 1

print( a, b, end=" ")

for i in range (n-2):
    c = a + b
    print (c, end= " ")
    a=b
    b=c

0 1 1 2 3 5 8 13 21 34

In [69]:

lst= [0,1]
n= int(input(" Enter the number of febonacci numbers you would like to see from 0: "))
a , b = 0, 1

for i in range (n-2):
    c = a + b
    lst.append(c)
    a=b
    b=c

print(lst)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [2]:
stu_records = {'Sammer':89, 'Sabina':90, 'Santosh':35, 'Pawan':52, 'Pramod':45}

for keys, values in stu_records.items():
    print(keys, values)

Sammer 89
Sabina 90
Santosh 35
Pawan 52
Pramod 45

In [6]:
# recording values in dictionary and assessing keys and values 

stu_records = {'Sammer':89, 'Sabina':90, 'Santosh':35, 'Pawan':52, 'Pramod':45, 'Prasad': 31}

for name, mark in stu_records.items():
    if mark<32:
        print(name, 'your mark is', mark, ', You failed the topic')
    elif 32<=mark<60:
        print(name, 'your mark is', mark, ', You scored second division')
    elif 60<=mark<80:
        print(name, 'your mark is', mark, ', You scored first division')
    elif 80<=mark<100:
        print(name, 'your mark is', mark, ', You scored distinction')
    else:
        print ('ERROR: Invalid mark')

Sammer your mark is 89 , You scored distinction
Sabina your mark is 90 , You scored distinction
Santosh your mark is 35 , You scored second division
Pawan your mark is 52 , You scored second division
Pramod your mark is 45 , You scored second division
Prasad your mark is 31 , You failed the topic

### Functions in Python

1. Built-in functions 
2. User defined fucntions

In [ ]:
# Type casting functions 
int(), float(), complex()

In [10]:
int1= 1945

print(float(int1))
print(complex(int1))
print(bool(int1))
print(str(int1))

1945.0
(1945+0j)
True
1945

In [14]:
a = int(input('Enter the number of interest: '))

print('Decimal: ', a)
print('Binary: ', bin(a))
print('Octa Decimal: ', oct(a))
print('Hexa Decimal: ', hex(a))

Decimal:  24
Binary:  0b11000
Octa Decimal:  0o30
Hexa Decimal:  0x18

User defined functions

In [2]:
def sum_of_two(a, b):
    return (a + b)

In [3]:
sum_of_two(3,5)

8

In [ ]:
# write a program to find greatest common divisor (CGD) or Higher common factor (HCF) of a given number 

a = int(input('First Number'))
b = int(input('Second number'))

smallest_number = min(a, b)
for k in range(smallest_number, -1, -1):
    if a%k ==0 and b%k==0:
        print ('The GCD is', k)
        break

The GCD is 10

In [1]:
#factorial of a number

num = int(input('Please enter a number'))
factorial = 1
for k in range (1, num+1):
    factorial = factorial*k
print(factorial)

120

In [2]:
num= int(input('Entere a number'))

factorial = 1

for k in range (1, num+1):
    factorial = factorial*k

print(factorial)

24

In [3]:
list1= [2, 4, 6, 7,-3, -10, 5, 15, -2]

pos_lst =[]
neg_lst = []

for k in list1:
    if k<0:
        neg_lst.append(k)
    else:
        pos_lst.append (k)
print(pos_lst)
print(neg_lst)

[2, 4, 6, 7, 5, 15]
[-3, -10, -2]

In [8]:
# fibonacci numbers 
fibonacci_lst = [0,1]

number_of_terms = int(input('Number of terms:- '))

while len(fibonacci_lst)< number_of_terms:
    next_term = fibonacci_lst[-1]+fibonacci_lst[-2]
    fibonacci_lst.append(next_term)

print(fibonacci_lst)

**File Operation**

In [5]:
f = open('my_file.txt', 'x')

FileExistsError: [Errno 17] File exists: 'my_file.txt'

In [6]:
f= open('my_file.txt', "w")

In [7]:
f.write('This is my first file')

21

In [11]:
f= open('my_file.txt', "r")

In [12]:
f.read()

'This is my first file'

In [13]:
f = open ('my_file.txt', 'a')

In [14]:
f.write('This is test text for adding new text into my existing file my_file')

67

In [15]:
f = open('my_file.txt', 'r')

In [16]:
f.read()

'This is my first fileThis is test text for adding new text into my existing file my_file'

**Exception Handling**

1. Syntax Error
2. Logical Error
3. Run time Error

In [1]:
for i in range(10):
print(i)

IndentationError: expected an indented block after 'for' statement on line 1 (3979827255.py, line 2)

Fix index error by fixing the error itself

In [4]:
lst1= [2,3,4,5,6,7,8]
v_len = len(lst1)
print(v_len, v_len+3)

for i in range (v_len+3):
    print('value inside my list ', lst1[i])

7 10
value inside my list  2
value inside my list  3
value inside my list  4
value inside my list  5
value inside my list  6
value inside my list  7
value inside my list  8

IndexError: list index out of range

In [5]:
try:
    for i in range (v_len+3):
        print('value inside my list ', lst1[i])
except IndexError as fidt:
    print("Please check your input", fidt)

value inside my list  2
value inside my list  3
value inside my list  4
value inside my list  5
value inside my list  6
value inside my list  7
value inside my list  8
Please check your input list index out of range

In [6]:
tup1 = (2,3,5,6,7)
tup1.append(10)

AttributeError: 'tuple' object has no attribute 'append'

In [7]:
try:
    tup1.append(10)
except AttributeError as ae:
    print('Atrribute Exception', ae)

Atrribute Exception 'tuple' object has no attribute 'append'

In [8]:
a=23
b= 'programing'
c= a+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [9]:
try:
    a=23
    b= 'programing'
    c= a+b
except TypeError as te:
    print('TypeError Exception', te)

TypeError Exception unsupported operand type(s) for +: 'int' and 'str'

**Object Oriented Programming**

In [2]:
class university_student:
    def student_info():
        pass

In [3]:
obj1 = university_student()

In [4]:
obj1.student_info()

TypeError: university_student.student_info() takes 0 positional arguments but 1 was given

In [5]:
class university_student:
    def __init__(self, fname, mname, lname, email, contact):
        pass

In [6]:
obj1= university_student('Kin', 'Zen', 'Aunto', 'jin.aunto@gmail.com',987654)

In [8]:
print(type(obj1))

<class '__main__.university_student'>

In [13]:
class university_student:
    def __init__(self, fname, mname, lname, email, contact):
        self.fname = fname
        self.mname = mname
        self.lname = lname
        self.email = email
        self.contact = contact

        print(self.fname, self.mname, self.lname, self.email, self.contact)

In [14]:
obj1 = university_student('Raja', 'Ram', 'Chalise', 'raja.ram@gmail.com', 8453)

Raja Ram Chalise raja.ram@gmail.com 8453

In [18]:
class Computer:
    def __init__(self, ram, harddisk, processor):
        self.ram = ram
        self.harddisk = harddisk
        self.processor = processor
    
    def type_pc (self):
        print(f'The ram of this PC is {self.ram}.')
        print(f'The harddisk capacity of this PC is {self.harddisk}.')
        print(f'The porcessor of this PC is {self.processor}.')

In [19]:
objt3 = Computer('4GB', 256, 'i7')

In [20]:
objt3.type_pc()

The ram of this PC is 4GB.
The harddisk capacity of this PC is 256.
The porcessor of this PC is i7.

In [14]:
def sum(a,b):
        return (a+b)

In [15]:
sum(3,7)

10

In [22]:
class Car:
    def __init__(self, make, model, year, miles):
        self.make = make
        self.model = model
        self.year = year
        self.miles = miles

    def car_details(self):
        print(self.make, self.model, self.year, self.miles)

In [23]:
car1= Car('Toyota', 'Corrola', 2022, 50000)
car2 = Car('Honda', 'c-rv', 2022, 55000)

In [28]:
car1.car_details()
car2.car_details()

Toyota Corrola 2022 50000
Honda c-rv 2022 55000

In [40]:
class Person:
    def __init__ (self, fname, lname):
        self.fname = fname
        self.lname = lname

    def printname(self):
        print( self.fname,'', self.lname)

In [41]:
Ram = Person('Raja','Ram')

In [42]:
Ram.printname()

Raja  Ram

In [44]:
# Child class

class childclass (Person):
    pass

In [45]:
Hari = childclass('Hari', 'Krishna')

In [46]:
Hari.printname()

Hari  Krishna

In [51]:
class childclass:
    def __init__ (self, fname, lname, age):
        self.firstname = fname
        self.lastname = lname
        self.age= age

    def printname(self):
        print('from child', self.firstname, self.lastname, self.age)

In [52]:
Hari = childclass('Hari', 'Krishna', 55)

In [53]:
Hari.printname()

from child Hari Krishna 55

In [3]:
#Write a program to print twin prime numbers less than 1000. If two consecutive odd numbers are both pirme then they are known as twin primes. 

# Logical Breaking of the problem
# 1. First iterate till 1000
#2. Only check for odd number
#3. Use 'and' to filter both prime numbers 


n = int(input('Enter the Max range :-'))

def check_prime_number(num):
    for i in range (2, num):
        if num%i==0:
            return False
    return True

def print_prime_pairs(n):
    for k in range (3,n,2):
        if check_prime_number(k) and check_prime_number (k+2):
            print('Prime pairs are', k, k+2)

print_prime_pairs(n)

Prime pairs are 3 5
Prime pairs are 5 7
Prime pairs are 11 13
Prime pairs are 17 19
Prime pairs are 29 31
Prime pairs are 41 43
Prime pairs are 59 61
Prime pairs are 71 73